@page "/recent"
@using Denga.Bwiki.Web.Client.DataServices
@using Denga.Bwiki.Web.Shared.Models
@inject NavigationManager nav
@inject PageDataService  pageData

<h1>Recent changes</h1>
@if (isSearching)
{
<MatProgressBar Indeterminate="true"></MatProgressBar>
}
@foreach (var pageModel in Pages)
{
<p>
    <a href="page/@pageModel.UrlTitle">@pageModel.Title</a> (Modified: @pageModel.ModifiedAt.ToString("dd-MM-yyyy HH:mm"))
</p>
}


@code {

    public bool isSearching = false;
    public IEnumerable<PageModel> Pages { get; set; } = new List<PageModel>();

    protected override async Task OnInitializedAsync()
    {
        isSearching = true;
        Pages =await pageData.GetRecentChanges();
        isSearching = false;
    }

}