<div class="title">
    <MatH5>Bliki<br />The Blazor Wiki</MatH5>
</div>
<MatList>
    <NavLink href="" Match="NavLinkMatch.All">
        <MatListItem>
            Home
        </MatListItem>
    </NavLink>
    <NavLink href="" Match="NavLinkMatch.Prefix">
        <MatListItem Href="recent">
            Recent changes
        </MatListItem>
    </NavLink>
    <NavLink href="" Match="NavLinkMatch.Prefix">
        <MatListItem Href="new">
            Create new page
        </MatListItem>
    </NavLink>
</MatList>

@code {

}