@page "/recent"
@using Denga.Bliki.Web.Shared.Models
@inject NavigationManager nav
@inject PageDataService  pageData
RECENT CHANGES
@if (isSearching)
{
<MatProgressBar Indeterminate="true"></MatProgressBar>
}
@foreach (var blikiPage in Pages)
{
<p>
    <a href="page/@blikiPage.UrlTitle">@blikiPage.Title</a> (Modified: @blikiPage.ModifiedAt.ToString("dd-MM-yyyy HH:mm"))
</p>
}


@code {

    public bool isSearching = false;
    public IEnumerable<BlikiPageModel> Pages { get; set; } = new List<BlikiPageModel>();

    protected override async Task OnInitializedAsync()
    {
        isSearching = true;
        Pages =await pageData.GetRecentChanges();
        isSearching = false;
    }

}